<ng-container *ngIf="book; else loadingTemplate">
  <div class="bookdetails-container">
    <div class="book-header">
      <img [src]="book.coverUrl || 'assets/no-cover.png'" width="150" alt="Cover"/>
      <h1>{{ book.title }}</h1>
      <h3>{{ book.author }}</h3>
      <div class="rating">
        <ng-container *ngFor="let i of fullStars">
    <span class="star"
          [class.filled]="userRating >= i"
          [class.half]="userRating + 0.5 === i"
          (click)="!user?.blocked && submitHalfOrFullRating($event, i)">
      ★
    </span>
        </ng-container>
        <span class="count">
    {{ book.averageRating.toFixed(1) }} / 10 ({{ book.ratingsCount }} ratings)
  </span>
      </div>
      <p>{{ book.description }}</p>
    </div>

    <hr />
    <div class="comment-actions">
      <div *ngIf="!user?.blocked">
      <input type="text" [(ngModel)]="newComment" placeholder="Write a comment..." />
      <button (click)="submitComment()">Post</button>
      </div>
      <span>Sort by:</span>
      <button (click)="changeSort('new')" [disabled]="sortBy === 'new'">New</button>
      <button (click)="changeSort('top')" [disabled]="sortBy === 'top'">Top</button>
    </div>

    <div *ngFor="let comment of comments" class="comment">
      <strong>
        <a [routerLink]="['/user', comment.userId]">{{ comment.username }}</a>
      </strong>
      <p>{{ comment.content }}</p>

      <div class="reactions">
        <span [class.active]="comment.userReaction === 'like'" (click)="!user?.blocked && likeComment(comment)">
          👍 {{ comment.likesCount }}
        </span>
        <span [class.active]="comment.userReaction === 'dislike'" (click)="!user?.blocked && dislikeComment(comment)">
          👎 {{ comment.dislikesCount }}
        </span>
      </div>
    </div>

    <button *ngIf="book.totalPages > 1 && page < book.totalPages - 1" (click)="loadMore()">
      Load more
    </button>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <div class="loading">Loading book details...</div>
</ng-template>
